/* nav bar styles */

nav {
  display: flex;
  font-family: Bungee;
  color: black;
  height: 120px;
  border-width: 100%;
  background-color:cadetblue;
  padding: 1.5em;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav .write-new-tweet {
  display: flex;;
  font-family: Source Sans Pro;
  font-weight: 700;
}

nav .fa-angle-double-down {
  color:black;
  
}

.right-hand-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
